# Compiled Executables
scanner
.exe
scanner.exe

# Object Files
*.o
src/**/*.o

# Generated Lexer Source
src/lexer/lex.yy.c

# Temp/Backup files
*~
.DS_Store

# temp project files
compiler
structure.txt
